<div class="car-title">
  <h1>Mis Reservas</h1>
</div>


<div class="services-container">
<%= @bookings.each do |booking|%>
    <div class="box">
    <div class="box-img">
      <img src="..." alt="...">
    </div>
        <h2>- <%= bookin.users_id%></h2>
        <h2>- <%= bookin.vehicles_id%></h2>
        <h2>- <%= bookin.s_date%></h2>
        <h2>- <%= bookin.f_date%></h2>
        <h2>- <%= link_to bookin.vehicles_id, booking %></h2>
    </div>
  <% end %>
</div>
