<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag("logo.png", class:'logo') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

          <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
          <li><a href="/">Inicio</a></li>
          <li><a href="#services">Vehiculos</a></li>
          <li><a href="#ride">Servicios</a></li>
        </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Cerrar Sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>

          <ul class="header-btn btn-2">
            <%= link_to "Registrarse", new_user_registration_path , class: "sign-up" %>
          </ul>
          <ul class="header-btn btn-2">
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "sign-in" %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>
