<%= render "shared/search" %> <%= render "shared/ride" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="box-img">
        <img src="#" alt="" />
      </div>
      <% @vehicles.each do |vehicle| %>
      <p><%= vehicle.year %></p>
      <h3><%= link_to vehicle.model, vehicle %></h3>
      <h3>- <%= vehicle.brand %></h3>
      <h2>$<%= vehicle.price %></h2>
      <span><h2>/ mes</h2></span>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/about" %> <%= render "shared/newsletter" %>
