<%= render "shared/search" %>
<%= render "shared/ride" %>

<% @vehicles.each do |vehicle| %>
  <p><%= vehicle.year %></p>
  <p><%= vehicle.model %></p>
  <p><%= vehicle.brand %></p>
  <p><%= vehicle.price %></p>
<% end %>

<%= render "shared/about" %>
<%= render "shared/newsletter" %>
