<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p><%= @vehicle.model %></p>
      <p><%= @vehicle.brand %></p>
      <p><%= @vehicle.year %></p>
      <p><%= @vehicle.type_car %></p>
      <p><%= @vehicle.passangers %></p>
      <p><%= @vehicle.price %></p>
      <p><%= @vehicle.suitcase_capacity %></p>
      <p><%= @vehicle.gearbox %></p>
    </div>
  </div>
</div>

<div class="btn">
<div class="action-btn">
  <%= link_to "Regresar", vehicles_path, class: "sign-in" %>
</div>
<div class="action-btn">
  <%= link_to "Reservar ahora", new_vehicle_booking_path(@vehicle, @booking), class: "sign-in" %>
</div>
</div>
